h1 {
    text-align: center;
    font-size: 44px;
}
h2 {
    text-align: center;
    font-size: x-large;
}
h3 {
    text-align: center;
    font-size: large;
}

.content {
    max-width: min(65vw, 650px);
    text-align: center;
}